.button-bubble {
  width: 40px;
  height: 40px;
  padding: 8px;

  & > svg {
    color: var(--main-text-color);
  }

  &:hover {
    & > svg {
      color: white;
    }
  }

  @media (max-width: 380px) {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
}

.button-bubble--radius {
  border: none;
  border-radius: var(--main-border-radius);
}

.button-pluse {
  composes: button-bubble;
  display: inline-flex;
  width: 32px;
  height: 32px;
  padding: 4px;

  @media (max-width: 380px) {
    width: 28px;
    height: 28px;
    padding: 8px;
  }
}

.button-pluse--border {
  border: 1px solid var(--main-gray-color);
}

.button-pluse--radius {
  border-radius: var(--main-border-radius-small);
}

.button-voice {
  composes: button-bubble;
  width: 48px;
  height: 48px;
  padding: 12px;
  background: var(--main-gray-color);
}

.button-voice--border {
  border: none;
}

.button-voice--radius {
  border-radius: var(--main-border-radius-large);
}
